@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

.scooter-header {

    .scooter-header__container {
        width: 1106px;
        margin: 0 auto;

        .scooter-header__navbar {
            padding: 22px 0 21px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .scooter-header_navbar_logo {


                img {
                    width: 107.82px;
                    height: 28.56px;
                    margin-right: 58.18px;
                }
            }

            .scooter-header_navbar_links {

                margin-right: 500px;
                display: flex;
                column-gap: 32px;

                a {
                    font-family: 'Space Mono';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 15px;
                    line-height: 25px;
                    color: var(--link_color);
                    text-decoration: none;
                    transition: 0.3s;

                }

                a:hover {
                    color: $link-hover-color;
                }

            }

            .scooter-header_navbar_button {
                button {
                    padding: 14px 39px;
                    font-family: 'Space Mono';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 15px;
                    line-height: 25px;
                    text-align: center;
                    color: var(--white-color);
                    background-color: $link-hover-color ;
                    border: 3px $link-hover-color solid;
                    cursor: pointer;
                    transition: 0.3s;
                }

                button:hover {
                    background-color: var(--white-color);
                    border: 3px solid $link-hover-color;
                    color: $link-hover-color;
                }
            }
        }
    }

    .scooter-header__body {

        background-image: url(./../images/Bitmap\ \(1\).jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        .scooter-header_body_container {
            position: relative;
            width: 1106px;
            margin: 0 auto;


            .scooter-header_body_content {
                padding: 153px 0 152px;

                .scooter-header_content_title {
                    width: 500px;
                    font-family: 'Space Mono';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 56px;
                    line-height: 56px;
                    letter-spacing: -2.5px;
                    color: var(--white-color);
                    margin-bottom: 40px;
                }

                .scooter-header_arrow_left {
                    position: absolute;
                    top: 345px;
                    left: -200px;
                }

                .scooter-header_content_description {

                    width: 405px;
                    margin-left: 95px;
                    font-family: 'Lexend Deca';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 25px;
                    color: var(--white-color);
                    margin-bottom: 40px;
                }

                .scooter-header_arrow_right {
                    position: absolute;
                    top: 345px;
                    right: 70px;
                }

                .scooter-header_content_button {

                    button {
                        margin-left: 95px;
                        padding: 14px 39px;
                        font-family: 'Space Mono';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 15px;
                        line-height: 25px;
                        text-align: center;
                        color: var(--white-color);
                        background-color: var(--link-hover-color);
                        border: 3px solid var(--link-hover-color);
                        cursor: pointer;
                        transition: 0.3s;
                    }

                    button:hover {
                        background-color: transparent;
                        border: 3px solid var(--link-hover-color);
                        color: var(--link-hover-color);
                    }

                }
            }

        }





    }


}