@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

.using-opportunities {

    .using-opportunity_riding_telemetry_wrapper_body {

        .using-opportunity_riding_telemetry_container {
            width: 1106px;
            margin: 0 auto;

            .using-opportunity_riding_telemetry_wrapper {
                display: flex;
                align-items: center;

                .using-opportunity_riding_telemetry_content {

                    .using-opportunity_riding_telemetry_title {
                        font-family: 'Space Mono';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 48px;
                        line-height: 48px;
                        letter-spacing: -2.14286px;
                        color: #495567;
                        margin-bottom: 24px;
                    }

                    .using-opportunity_riding_telemetry_description {
                        font-family: 'Lexend Deca';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 25px;
                        color: #939CAA;
                        margin-bottom: 40px;
                    }

                    .using-opportunity_riding_telemetry_button {
                       button{
                       padding: 14px 43.5px 14px 44.5px;
                        font-family: 'Space Mono';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 15px;
                        line-height: 25px;
                        text-align: center;
                        color: #FFFFFF;
                       }
                    }
                }
                .using-opportunity_riding_telemetry_image_wrapper{
                    .using-opportunity_riding_telemetry_img{
                        width: 300px;
                    }
                }
            }
        }
    }
}