@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

.using-opportunities {
    position: relative;

    .using-opportunities_container {
        width: 1106px;
        margin: 0 auto;

        .using-opportunities_wrapper {
           

            .using-opportunity_wrapper {
                display: flex;
                column-gap: 220px;
                justify-content: center;
                align-items: center;
                margin-bottom: 160px;
                
                

                .using-opportunity_content {

                    .using-opportunity_title {
                        font-family: 'Space Mono';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 48px;
                        line-height: 48px;
                        letter-spacing: -2.14286px;
                        margin-bottom: 24px;
                    }

                    .using-opportunity_description {
                        font-family: 'Lexend Deca';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 25px;
                        color: #939CAA;
                        margin-bottom: 40px;
                    }

                    .using-opportunity_button {
                        button {
                            padding: 14px 43.5px 14px 44.5px;
                            font-family: 'Space Mono';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 15px;
                            line-height: 25px;
                            text-align: center;
                            color: #fff;
                            border: 3px solid #FCB72B;
                            background-color: #FCB72B;
                           
                            transition: 0.3s;
                        }
                        button:hover{
                            border: 3px solid #FCB72B;
                            color: #FCB72B;
                            background-color: transparent;
                        }
                    }
                }
                .using-opportunity_image_wrapper{
                    .using-opportunity_img{
                        width: 445px;
                    }
                    .using-opportunity_riding_telemetry_wrapper_arrow {
                        position: absolute;
                        top: 300px;
                        right: 0;
                    }
                    .using-opportunity_coming_city_wrapper_arrow{
                        position: absolute;
                        top: 625px;
                        left: 0;
                    }
                    .using-opportunity_payments_wrapper_arrow{
                        position: absolute;
                        top: 1220px;
                        right: 0;
                    }
                }
            }
        }
    }
}