@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

.using-opportunities {

    .using-opportunity_riding_telemetry_wrapper_body {
        position: relative;
        margin-bottom: 160px;

        .using-opportunity_riding_telemetry_container {
            width: 1106px;
            margin: 0 auto;

            .using-opportunity_riding_telemetry_wrapper {
                display: flex;
                align-items: center;
                column-gap: 220px;

                .using-opportunity_riding_telemetry_content {

                    .using-opportunity_riding_telemetry_title {
                        font-family: 'Space Mono';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 48px;
                        line-height: 48px;
                        letter-spacing: -2.14286px;
                        color: #495567;
                        margin-bottom: 24px;
                    }

                    .using-opportunity_riding_telemetry_description {
                        font-family: 'Lexend Deca';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 25px;
                        color: #939CAA;
                        margin-bottom: 40px;
                    }

                    .using-opportunity_riding_telemetry_button {
                        button {

                            @include my_btn
                        }

                        button:hover {
                            @include my_btn_hover
                        }
                    }
                }

                .using-opportunity_riding_telemetry_image_wrapper {

                    .using-opportunity_riding_telemetry_img {
                        width: 445px;
                    }

                    .using-opportunity_riding_telemetry_wrapper_arrow {
                        position: absolute;
                        top: 300px;
                        right: 0;
                        z-index: 3;
                    }

                    .using-opportunity_riding_telemetry_background_img {
                        height: 445px;
                        position: absolute;
                        top: 0;
                        right: 0;
                        z-index: -2;

                    }
                }
            }
        }
    }

    .using-opportunity_comming_city_wrapper_body {
        position: relative;
        margin-bottom: 160px;

        .using-opportunity_coming_city_container {
            width: 1106px;
            margin: 0 auto;

            .using-opportunity_coming_city_wrapper {
                display: flex;
                align-items: center;
                column-gap: 220px;

                .using-opportunity_coming_city_image_wrapper {
                    .using-opportunity_coming_city_img {
                        width: 445px;


                    }

                    .using-opportunity_coming_city_wrapper_arrow {
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 3;
                    }

                    .using-opportunity_coming_city_background_img {
                        height: 445px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: -2;
                    }
                }

                .using-opportunity_coming_city_content {
                    .using-opportunity_coming_city_title {
                        font-family: 'Space Mono';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 48px;
                        line-height: 48px;
                        letter-spacing: -2.14286px;
                        color: #495567;
                        margin-bottom: 24px;
                    }

                    .using-opportunity_coming_city_description {
                        font-family: 'Lexend Deca';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 25px;
                        color: #939CAA;
                        margin-bottom: 40px;
                    }

                    .using-opportunity_coming_city_button {
                        button {
                            @include my_btn
                        }

                        button:hover {
                            @include my_btn_hover
                        }

                    }
                }
            }
        }
    }
}

.using-opportunity_payments_wrapper_body {
    position: relative;
    margin-bottom: 160px;

    .using-opportunity_payments_container {
        width: 1106px;
        margin: 0 auto;

        .using-opportunity_payments_wrapper {
            display: flex;
            align-items: center;
            column-gap: 220px;

            .using-opportunity_payments_content {
                .using-opportunity_payments_title {
                    font-family: 'Space Mono';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 48px;
                    line-height: 48px;
                    letter-spacing: -2.14286px;
                    color: #495567;
                    margin-bottom: 24px;
                }

                .using-opportunity_riding_telemetry_description {
                    font-family: 'Lexend Deca';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 25px;
                    color: #939CAA;
                    margin-bottom: 40px;
                }

                .using-opportunity_riding_telemetry_button {
                    button {
                        @include my_btn
                    }

                    button:hover {
                        @include my_btn_hover
                    }
                }
            }

            .using-opportunity_payments_image_wrapper {
                .using-opportunity_payments_img_wrapper {
                    border-radius: 50%;

                    .using-opportunity_payments_img {
                        width: 445px;
                        border-radius: 50%;
                    }
                }

                .using-opportunity_coming_city_wrapper_arrow {
                    position: absolute;
                    top: 70px;
                    right: 0;
                    z-index: 3;
                }

                .using-opportunity_coming_city_background_img {
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: -2;
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .using-opportunities {
        margin-bottom: 120px;

        .using-opportunity_riding_telemetry_wrapper_body {


            .using-opportunity_riding_telemetry_container {
                width: 90%;
                margin: 0 auto;

                .using-opportunity_riding_telemetry_wrapper {
                    display: flex;
                    flex-direction: column-reverse;

                    .using-opportunity_riding_telemetry_content {
                        text-align: center;

                        .using-opportunity_riding_telemetry_title {
                            font-size: 32px;
                            line-height: 32px;
                            text-align: center;
                            letter-spacing: -1.42857px;
                            max-block-size: 32px;
                        }

                        .using-opportunity_riding_telemetry_description {
                            font-size: 15px;
                            line-height: 25px;
                            margin-bottom: 32px;

                        }

                        line-height: 25px;
                    }

                    .using-opportunity_riding_telemetry_image_wrapper {
                        .using-opportunity_riding_telemetry_img {
                            padding: 30px 50px;
                            width: 445px;
                            margin-bottom: 64px;
                        }

                        .using-opportunity_riding_telemetry_wrapper_arrow {
                            width: 554.38px;
                            bottom: 390px;
                        }

                        .using-opportunity_riding_telemetry_background_img {
                            width: 90px;
                        }
                    }
                }
            }
        }

        .using-opportunity_comming_city_wrapper_body{
            margin-bottom: 120px;
            .using-opportunity_coming_city_container{
                width: 90%;
                margin: 0 auto;

                .using-opportunity_coming_city_wrapper{
                 display: block;   

                 .using-opportunity_coming_city_image_wrapper{
                    margin-bottom: 56px;
                    text-align: center;
                    .using-opportunity_coming_city_img{
                        padding: 30px 50px;
                        
                            width: 445px;
                            margin-bottom: 64px;
                    }
                    .using-opportunity_coming_city_wrapper_arrow{
                        
                            bottom: 390px;
                    }
                 }
                 .using-opportunity_coming_city_content{
                    text-align: center;
                 }
                }
            }
        }

        .using-opportunity_payments_wrapper_body{
            .using-opportunity_payments_container{
                width: 90%;
                margin: 0 auto;
                .using-opportunity_payments_wrapper{
                    display: flex;
                    flex-direction: column-reverse;
                    .using-opportunity_payments_content{
                        text-align: center;
                        .using-opportunity_payments_title{
                            margin-bottom: 32px;

                        }
                        .using-opportunity_riding_telemetry_description{
                            margin-bottom: 32px;
                        }
                       
                    }
                    .using-opportunity_payments_image_wrapper{
                        .using-opportunity_payments_img_wrapper{
                        
                        .using-opportunity_payments_img{
                            padding: 30px 50px;
                            width: 445px;
                            margin-bottom: 64px;
                        }
                    }
                    .using-opportunity_coming_city_wrapper_arrow{
                        width: 354.38px;
                        bottom: 390px;
                    }
                    .using-opportunity_coming_city_background_img{
                        width: 90px;
                    }
                    }
                }

            }
        }
    }

}